<button class="g-recaptcha" 
data-sitekey="6LegOuYeAAAAALfBDMMTr8l3kqxROUDJxgsLDQTX" 
data-callback='onSubmit' 
data-action='submit'>Submit</button>

<script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
</script>
