{% extends "layout.twig" %}

{% block content %}

<h1 class='text-center border-bottom' style="margin-bottom:100px">Mes articles postés</h1>

{% for post in posts %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/pictures/mickael.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ post.titre }}</h5>
              <p class="card-text">{{ post.chapo }}</p>
              <p class="card-text"><small class="text-muted">{{ post.content }}</small></p>
              <a href="/post/id/{{ post.post_id }}" class="btn btn-primary">Voir plus</a>
            </div>
          </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}