{% extends "/twig-template/layout.twig" %}

{% block content %}
  <div style="max-width:350px;" class="m-auto {% if errors %} errors_login {% endif %}">
    {{ formLogin|raw }}
  </div>
  {% include('/twig-template/recaptcha.twig') %}
{% endblock content %}