<footer class="row row-cols-5 py-5 my-5 border-top justify-content-around">
    <div class="col">
      <h5>Blog</h5>
      <ul class="nav flex-column">
        <li class="nav-link mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-link mb-2"><a href="/posts/1" class="nav-link p-0 text-muted">Articles</a></li>
      </ul>
    </div>

    {% if user_session.user_id %}
      {% if user_session.role == 'admin' %}
        <div class="col">
          <h5>Administration</h5>
          <ul class="nav flex-column">
            <li class="nav-link mb-2"><a href="/admin/home" class="nav-link p-0 text-muted">Dashboard</a></li>
            <li class="nav-link mb-2"><a href="/admin/posts/1" class="nav-link p-0 text-muted">Liste des articles</a></li>
            <li class="nav-link mb-2"><a href="/admin/comments/1" class="nav-link p-0 text-muted">Liste des commentaires</a></li>
            <li class="nav-link mb-2"><a href="/admin/accounts/1" class="nav-link p-0 text-muted">Liste des comptes</a></li>
          </ul>
        </div>
      {% endif %}
  {% endif %}
</footer>